<div layout="column" style="height:100%;" ng-cloak>
<section layout="row" flex>

    <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="3" layout="column">
        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">REDWED</h1>
        </md-toolbar>
        <md-list>
            <md-list-item ng-repeat="item in menu" md-ink-ripple>
                <a href="{{item.link}}" class="remove-underline">
                    <md-item-content layout="row" layout-align="start center">
                        <div class="inset">
                            <md-icon> {{item.icon}} </md-icon>
                        </div>
                        <div class="inset">{{item.title}}
                        </div>
                    </md-item-content>
                </a>
            </md-list-item>
        </md-list>
        <!--<md-content layout-margin>
            <p>
                This sidenav is not showing any backdrop, where users can click on it, to close the sidenav.
            </p>
            <md-button ng-click="toggleLeft()" class="md-accent">
                Close
            </md-button>
        </md-content>-->

    </md-sidenav>

    <md-content flex>
        <!--<div ng-cloak>-->
        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
                <md-button ng-click="toggleLeft('left')" hide-gt-md class="md-icon-button" aria-label="Settings">
                    <md-icon> menu </md-icon>
                </md-button>
                <h2>
                    <span>Home Page</span>
                </h2>
                <span flex></span>
                <md-menu>
                    <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
                        <md-icon> more_vert </md-icon>
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item>
                            <md-button ng-click = "logout()">
                                Logout
                            </md-button>
                        </md-menu-item>
                        
                        <!--<md-menu-divider></md-menu-divider>-->
                    </md-menu-content>
                </md-menu>
                
            </div>
        </md-toolbar>
        <md-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab ng-repeat="class in classes" label="{{class.name}}" class="md-padding">
                    <md-content class="md-padding">
                        <div layout="column" layout-gt-xs="row">
                            <h1 flex ng-if="class.isClassTeacher">Primary Class</h1>
                            <md-button ng-show="!isAttendence && class.isClassTeacher" ng-click="isAttendence=!isAttendence" class="md-raised md-accent">+ Attendence</md-button>
                            <md-button ng-show="isAttendence && class.isClassTeacher" ng-click="isAttendence=!isAttendence" class="">Cancel</md-button>
                        </div>
                        <h2>Subject: {{class.course}}</h2>
                        <div>
                            <form name="userForm">
                                <div layout-gt-xs="row">
                                    <md-input-container class="md-block remove-margin" flex >
                                        <label>Total Marks</label>
                                        <input ng-model="totalmarks[class.courseId]" type="number">
                                    </md-input-container>
                                    <md-input-container class="md-block remove-margin" style="padding-left: 10px" flex>
                                        <label>Type of Marks</label>
                                        <md-select ng-model="typeOfMarks[class.courseId]">
                                            <md-option value="test">Test</md-option>
                                            <md-option value="mid">Mid Term</md-option>
                                            <md-option value="final">Final</md-option>
                                        </md-select>
                                    </md-input-container>
                                    <md-input-container flex class="remove-margin">
                                        <label>Date</label>
                                        <md-datepicker ng-model="submissionDate[class.courseId]"></md-datepicker>
                                    </md-input-container>
                                </div>
                            </form>
                        </div>
                        <md-list ng-cloak>
                            <md-list-item ng-repeat="student in class.students" class="md-accent" ng-if="!isAttendence">
                                <p>{{student.name}}</p>
                                <md-input-container flex="50" class="remove-margin">
                                    <label>Obtained Marks</label>
                                    <input ng-model="Students.Marks[student.rollnum]">
                                </md-input-container>
                            </md-list-item>
                        </md-list>
                        <md-list ng-cloak ng-show="class.isClassTeacher && isAttendence">
                            <md-list-item ng-repeat="student in class.students" class="md-accent">
                                <p>{{student.name}}</p>
                                <md-checkbox ng-model="Students.Attendence[student.rollnum]" class="md-secondary"></md-checkbox>
                                <md-divider ng-if="class.isClassTeacher && isAttendence"></md-divider>
                            </md-list-item>
                        </md-list>
                        <md-button ng-show="isAttendence && class.isClassTeacher" ng-click="submitAttendence(class.courseId)" class="md-raised md-accent">Save</md-button>
                        <md-button ng-show="!isAttendence" ng-click="submitMarks(class.courseId)" class="md-raised md-accent">Save</md-button>
                    </md-content>
                </md-tab>

            </md-tabs>
        </md-content>
        <!--</div>-->
    </md-content>

</section>
</div>