<div layout="column" style="height:100%;" ng-cloak>
    <section layout="row" flex>


        <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="3" layout="column">
            <md-toolbar class="md-theme-indigo">
                <h1 class="md-toolbar-tools">REDWED</h1>
            </md-toolbar>
            <md-list>
                <md-list-item ng-repeat="item in menu" md-ink-ripple>
                    <a href="{{item.link}}" class="remove-underline">
                        <md-item-content layout="row" layout-align="start center">
                            <div class="inset">
                                <md-icon> {{item.icon}} </md-icon>
                            </div>
                            <div class="inset">{{item.title}}
                            </div>
                        </md-item-content>
                    </a>
                </md-list-item>
            </md-list>
        </md-sidenav>

        <md-content flex>
            <md-toolbar class="md-hue-2">
                <div class="md-toolbar-tools">
                    <md-button ng-click="toggleLeft('left')" hide-gt-md class="md-icon-button" aria-label="Settings">
                        <md-icon> menu </md-icon>
                    </md-button>
                    <h2>
                        <span>Labours</span>
                    </h2>
                    <span flex></span>

                    <md-menu>
                        <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
                            <md-icon> more_vert </md-icon>
                        </md-button>
                        <md-menu-content width="4">
                            <md-menu-item>
                                <md-button ng-click="logout()">
                                    Logout
                                </md-button>
                            </md-menu-item>

                            <!--<md-menu-divider></md-menu-divider>-->
                        </md-menu-content>
                    </md-menu>
                </div>
            </md-toolbar>
            <md-toolbar class="md-table-toolbar md-default">
                <div class="md-toolbar-tools">
                    <span>Labour List</span>
                    <span flex></span>
                    <md-button ng-show="!formVisible" md-colors="{background:'green'}" ng-click="formVisible=!formVisible">+Add</md-button>
                    <md-button ng-show="formVisible" md-colors="{background:'blue'}" ng-click="formVisible=!formVisible">Cancel</md-button>
                </div>
            </md-toolbar>

            <form name="class" layout-padding ng-submit="submit()" ng-show="formVisible">
                <div layout="column">
                    <div layout="row">
                        <md-input-container flex>
                            <label>Labour Name</label>
                            <input required name="name" ng-model="Labour.name">
                            <div ng-messages="Labour.name.$error">
                                <div ng-message="required">Name is required.</div>
                            </div>
                        </md-input-container>
                        <md-input-container flex>
                            <label>Phone Number</label>
                            <input required name="phone" ng-model="Labour.phone">
                            <div ng-messages="Labour.phone.$error">
                                <div ng-message="required">Phone Number is required.</div>
                            </div>
                        </md-input-container>
                        <md-input-container flex>
                            <label>Category</label>
                            <md-select name="category" ng-model="Labour.category" required>
                                <md-option value="c1">Category 1</md-option>
                                <md-option value="c2">Category 2</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container flex>
                            <label>Comments</label>
                            <input required name="comments" ng-model="Labour.comments">
                            <div ng-messages="Labour.comments.$error">
                                <div ng-message="required">Comments is required.</div>
                            </div>
                        </md-input-container>
                        <md-input-container flex>
                            <label>Strength</label>
                            <input required name="strength" ng-model="Labour.strength">
                            <div ng-messages="Labour.strength.$error">
                                <div ng-message="required">Strength is required.</div>
                            </div>
                        </md-input-container>
                        <md-input-container flex>
                            <label>Date</label>
                            <md-datepicker ng-model="Labour.hiredate" flex="100"></md-datepicker>
                        </md-input-container>
                    </div>
                </div>
                <div>
                    <md-button md-colors="{background:'primary'}" type="submit">Submit</md-button>
                </div>
            </form>
            <md-table-container>
                <table md-table md-row-select multiple ng-model="selected" md-progress="promise">
                    <thead md-head md-order="order">
                        <tr md-row>
                            <th md-column md-order-by="_id"> ID </th>
                            <th md-column md-order-by="name"> Name </th>
                            <th md-column md-order-by="category"> Category </th>
                            <th md-column md-order-by="phone"> Phone Number </th>
                            <th md-column md-order-by="hiredate"> Hire Date </th>
                            <th md-column md-order-by="strength"> Strength </th>
                            <th md-column md-order-by="comments"> Comments </th>
                            <th md-column> Delete </th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row md-select="dessert" md-select-id="cname" md-auto-select ng-repeat="labour in labours | orderBy: order">
                            <td md-cell>{{labour._id}}</td>
                            <td md-cell>{{labour.name}}</td>
                            <td md-cell>{{labour.category}}</td>
                            <td md-cell>{{labour.phone}}</td>
                            <td md-cell>{{labour.hiredate}}</td>
                            <td md-cell>{{labour.strength}}</td>
                            <td md-cell>{{labour.comments}}</td>
                            <td md-cell>
                                <md-button ng-click="deleteLabour(labour._id)" class="md-icon-button">
                                    <md-icon> delete </md-icon>
                                </md-button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>


        </md-content>
    </section>
</div>