<div layout="column" style="height:100%;" ng-cloak>
    <section layout="row" flex>


        <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="3" layout="column">
            <md-toolbar class="md-theme-indigo">
                <h1 class="md-toolbar-tools">REDWED</h1>
            </md-toolbar>
            <md-list>
                <md-list-item ng-repeat="item in menu" md-ink-ripple>
                    <a href="{{item.link}}" class="remove-underline">
                        <md-item-content layout="row" layout-align="start center">
                            <div class="inset">
                                <md-icon> {{item.icon}} </md-icon>
                            </div>
                            <div class="inset">{{item.title}}
                            </div>
                        </md-item-content>
                    </a>
                </md-list-item>
            </md-list>
        </md-sidenav>

        <md-content flex>
            <md-toolbar class="md-hue-2">
                <div class="md-toolbar-tools">
                    <md-button ng-click="toggleLeft('left')" hide-gt-md class="md-icon-button" aria-label="Settings">
                        <md-icon> menu </md-icon>
                    </md-button>
                    <h2>
                        <span>Orders</span>
                    </h2>
                    <span flex></span>

                    <md-menu>
                        <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
                            <md-icon> more_vert </md-icon>
                        </md-button>
                        <md-menu-content width="4">
                            <md-menu-item>
                                <md-button ng-click="logout()">
                                    Logout
                                </md-button>
                            </md-menu-item>

                            <!--<md-menu-divider></md-menu-divider>-->
                        </md-menu-content>
                    </md-menu>
                </div>
            </md-toolbar>
            <md-toolbar class="md-table-toolbar md-default">
                <div class="md-toolbar-tools">
                    <span>Order List</span>
                    <span flex></span>
                    <md-button ng-show="!formVisible" md-colors="{background:'green'}" ng-click="formVisible=!formVisible">+Add</md-button>
                    <md-button ng-show="formVisible" md-colors="{background:'blue'}" ng-click="formVisible=!formVisible">Cancel</md-button>
                </div>
            </md-toolbar>
            <form name="class" layout-padding ng-submit="submit()" ng-if="formVisible">
                <div layout="column">
                    <div layout="row">
                        <md-input-container flex="50">
                            <label>Quantity</label>
                            <input type="number" required name="qty" ng-model="Order.qty">
                            <div ng-messages="Order.qty.$error">
                                <div ng-message="required">Quantity is required.</div>
                            </div>
                        </md-input-container>
                        <md-input-container flex="50">
                            <label>Advance</label>
                            <input type="number" required name="advance" ng-model="Order.advance">
                            <div ng-messages="Order.advance.$error">
                                <div ng-message="required">Quantity is required.</div>
                            </div>
                        </md-input-container>
                    </div>

                    <div layout="row">
                        <md-input-container flex="50">
                            <label>Customer Id</label>
                            <md-select name="customerid" ng-model="Order.customerid" required>
                                <md-option ng-repeat="customer in customers" value="{{customer._id}}">{{customer.cname}}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container flex="50">
                            <label>Dilivery Date</label>
                            <md-datepicker ng-model="Order.dlvdate"></md-datepicker>
                        </md-input-container>
                        <md-input-container flex="50">
                            <label>Order Date</label>
                            <md-datepicker ng-model="Order.orderdate"></md-datepicker>
                        </md-input-container>
                    </div>
                    <input type="hidden" value="false" ng-model="Order.delivered" />
                    <div ng-repeat="item in items() track by $index" layout="row">
                        <md-input-container flex="20">
                            <label>Article Number</label>
                            <input name="advance" ng-model="Order.items[$index].articlenumber">
                        </md-input-container>
                        <md-input-container flex="20">
                            <label>Category</label>
                            <input name="category" ng-model="Order.items[$index].category">
                        </md-input-container>
                        <md-input-container flex="20">
                            <label>Price</label>
                            <input name="price" ng-model="Order.items[$index].price">
                        </md-input-container>
                        <md-input-container flex="20">
                            <label>Cost</label>
                            <input name="cost" ng-model="Order.items[$index].cost">
                        </md-input-container>
                        <md-input-container flex="20">
                            <label>Assign Labour</label>
                            <md-select name="labourid" ng-model="Order.items[$index].labourid">
                                <md-option ng-repeat="labour in labours" value="{{labour._id}}">{{labour.name}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </div>
                <div>
                    <md-button md-colors="{background:'primary'}" type="submit">Submit</md-button>
                </div>
            </form>
            <md-table-container>
                <table md-table md-row-select multiple ng-model="selected" md-progress="promise">
                    <thead md-head md-order="orderBy">
                        <tr md-row>
                            <th md-column md-order-by="_id"> ID </th>
                            <th md-column md-order-by="customerid.cname"> Customer Name </th>
                            <th md-column md-order-by="dlvdate"> Delivery Date </th>
                            <th md-column md-order-by="qty"> Quantity </th>
                            <th md-column md-order-by="customerid.phone1"> Phone Number </th>
                            <th md-column> Delete </th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr ng-click="openDialog($event, order)" md-row md-select="dessert" md-select-id="cname" md-auto-select ng-repeat="order in orders | orderBy: orderBy">
                            <td md-cell>{{order._id}}</td>
                            <td md-cell>{{order.customerid.cname }}</td>
                            <td md-cell>{{order.dlvdate}}</td>
                            <td md-cell>{{order.qty}}</td>
                            <td md-cell>{{order.customerid.phone1}}</td>
                            <td md-cell>
                                <md-button ng-click="deleteLabour(labour._id)" class="md-icon-button">
                                    <md-icon> delete </md-icon>
                                </md-button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>
        </md-content>
    </section>
</div>